<a href="https://colab.research.google.com/github/KonradKomor/GoogleCollabRepository/blob/main/Loan_approval_system_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import plotly.express as px
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_csv('clientes.csv')

In [4]:
df.rename(columns={'dependentes':'numberOfChildren','sexo':'sex','estado_civil':'married','empregado':'working','renda':'income','renda_conjuge':'spouseIncome','emprestimo':'loanAmount','prestacao_mensal':'monthlyInstallment','historico_credito':'creditHistory','imovel':'livingPlace','aprovacao_emprestimo':'target'},inplace=True)

In [8]:
df

    cod_cliente     sex married  ... creditHistory livingPlace target
0      LP001002    Male      No  ...           1.0       Urban      Y
1      LP001003    Male     Yes  ...           1.0       Rural      N
2      LP001005    Male     Yes  ...           1.0       Urban      Y
3      LP001006    Male     Yes  ...           1.0       Urban      Y
4      LP001008    Male      No  ...           1.0       Urban      Y
..          ...     ...     ...  ...           ...         ...    ...
609    LP002978  Female      No  ...           1.0       Rural      Y
610    LP002979    Male     Yes  ...           1.0       Rural      Y
611    LP002983    Male     Yes  ...           1.0       Urban      Y
612    LP002984    Male     Yes  ...           1.0       Urban      Y
613    LP002990  Female      No  ...           0.0   Semiurban      N

[614 rows x 13 columns]

In [28]:
df.target.value_counts()

Y    422
N    192
Name: target, dtype: int64

In [7]:
df.describe()

             income  loanAmount  monthlyInstallment  creditHistory
count    614.000000  592.000000           600.00000     564.000000
mean    5403.459283  146.412162           342.00000       0.842199
std     6109.041673   85.587325            65.12041       0.364878
min      150.000000    9.000000            12.00000       0.000000
25%     2877.500000  100.000000           360.00000       1.000000
50%     3812.500000  128.000000           360.00000       1.000000
75%     5795.000000  168.000000           360.00000       1.000000
max    81000.000000  700.000000           480.00000       1.000000

In [10]:
np.random.seed(10)

In [118]:
dfSelected= df[['income','loanAmount','creditHistory','monthlyInstallment','target']]

In [119]:
dfSelected=dfSelected.dropna()

In [120]:
dfSelected1=dfSelected[['income','loanAmount','creditHistory','monthlyInstallment']]

In [121]:
data=dfSelected1
data=data.to_numpy()
data

array([[4.583e+03, 1.280e+02, 1.000e+00, 3.600e+02],
       [3.000e+03, 6.600e+01, 1.000e+00, 3.600e+02],
       [2.583e+03, 1.200e+02, 1.000e+00, 3.600e+02],
       ...,
       [8.072e+03, 2.530e+02, 1.000e+00, 3.600e+02],
       [7.583e+03, 1.870e+02, 1.000e+00, 3.600e+02],
       [4.583e+03, 1.330e+02, 0.000e+00, 3.600e+02]])

In [122]:
target=dfSelected.target
target=target.to_numpy()
target

array(['N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N'], dtype=object)

In [123]:
for x in range(len(target)):
  if(target[x]=='N'):
    target[x]=0
  else:
    target[x]=1
target=target.astype('int')

In [124]:
print(data.shape)
print(target.shape)

(529, 4)
(529,)

In [125]:
dataTrain,dataTest,targetTrain,targetTest=train_test_split(data,target,test_size=0.3)

In [29]:
from sklearn.linear_model import LogisticRegression

In [113]:
model= LogisticRegression()

In [112]:
print(type(targetTrain))
print(type(dataTrain))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [126]:
model.fit(dataTrain,targetTrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [129]:
targetPred=model.predict(dataTest)

In [130]:
from sklearn.metrics import confusion_matrix
confusion_matrix(targetTest,targetPred)

array([[ 21,  20],
       [  8, 110]])

In [132]:
from sklearn.metrics import classification_report
print(classification_report(targetTest,targetPred))

              precision    recall  f1-score   support

           0       0.72      0.51      0.60        41
           1       0.85      0.93      0.89       118

    accuracy                           0.82       159
   macro avg       0.79      0.72      0.74       159
weighted avg       0.81      0.82      0.81       159