<a href="https://colab.research.google.com/github/KonradKomor/Alcohol-Consumption-in-group-of-students/blob/main/TwitchChatAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import spacy
import math
import wordcloud

In [ ]:
df=pd.read_csv('healthygamer_gg_testdata.csv')
df.head()

          user  ...            timestamp
0  itztony1702  ...  2021-07-16 14:05:22
1    flaredrip  ...  2021-07-16 14:05:23
2     modxta23  ...  2021-07-16 14:05:23
3   reaperdiff  ...  2021-07-16 14:05:23
4      3rdkira  ...  2021-07-16 14:05:25

[5 rows x 4 columns]

In [ ]:
comment=df.message
comment=comment.replace(np.nan, '')

In [ ]:
nlp=spacy.load('en')

In [ ]:
comment=comment.values.tolist()

In [ ]:
for element in comment:
  str(element)

In [ ]:
#Use Spacy Tokenizer to tokenize all of the sentences
listOfWords=[]
for i in range(len(comment)):
  #print(type(comment[i]))
  doc=nlp(comment[i])
  words=[word.text for word in doc]
  listOfWords=listOfWords+words

In [ ]:
dfOfWords=pd.DataFrame(listOfWords)

In [ ]:
dfOfWords.head()

            0
0  BibleThump
1  BibleThump
2   SUPERHERO
3  BibleThump
4  BibleThump

In [ ]:
dfOfWords.set_index(0)

Empty DataFrame
Columns: []
Index: [BibleThump, BibleThump, SUPERHERO, BibleThump, BibleThump, GOOD, DAD, FeelsGoodMan, FeelsStrongMan, drhgWeird, BibleThump, BibleThump, BibleThump, Y, E, P, <3, FeelsStrongMan, FeelsStrongMan, True, NotLikeThis, <3, how, old, is, he, ?, lirikCozysip, Lyoon1595, FeelsStrongMan, <3, FeelsStrongMan, @cybercleric, top, shelf, comment, sounds, like, your, dad, was, struggling, and, used, video, games, to, cope, and, hard, to, blame, for, that, ?, ?, ?, ?, hasL, hasL, hasL, hasL, hasL, FeelsStrongMan, FeelsStrongMan, goddamn, FeelsStrongMan, i, m, not, cryin, ur, cryin, can, we, not, apply, flaws, to, people, right, now, ?, ?, ?, damn, POG, BibleThump, monkaW, oh, man, <3, omg, this, guy, speaks, so, goddamn, well, FeelsStrongMan, ...]

[26703 rows x 0 columns]

In [ ]:
dfOfWords.rename(columns={0 : 'word'})

                word
0         BibleThump
1         BibleThump
2          SUPERHERO
3         BibleThump
4         BibleThump
...              ...
26698              /
26699         didn't
26700          check
26701  tmi.twitch.tv
26702  tmi.twitch.tv

[26703 rows x 1 columns]

In [ ]:
data=dfOfWords.value_counts()

In [ ]:
data

<3              852
?               533
Sadge           423
KEKW            365
the             361
               ...
creepyweeper      1
create            1
signs             1
crash             1
destroyed         1
Length: 4814, dtype: int64

In [ ]:
data=pd.DataFrame(data)
data=data.rename(columns={0 : 'count'})
data

              count
0
<3              852
?               533
Sadge           423
KEKW            365
the             361
...             ...
creepyweeper      1
create            1
signs             1
crash             1
destroyed         1

[4814 rows x 1 columns]

In [ ]:
data=data.reset_index()

In [ ]:
data=data.rename(columns={0 : 'word'})

In [ ]:
data

              word  count
0               <3    852
1                ?    533
2            Sadge    423
3             KEKW    365
4              the    361
...            ...    ...
4809  creepyweeper      1
4810        create      1
4811         signs      1
4812         crash      1
4813     destroyed      1

[4814 rows x 2 columns]

In [ ]:
datacloud=data[:20]

In [ ]:
datacloud

              word  count
0               <3    852
1                ?    533
2            Sadge    423
3             KEKW    365
4              the    361
5                I    356
6                ,    310
7               EZ    304
8                a    292
9               is    288
10             Pog    282
11              to    281
12             you    275
13               !    272
14             LUL    247
15          monkaW    235
16              it    226
17            that    226
18  FeelsStrongMan    219
19               i    217

In [ ]:
fig= px.bar(data_frame=datacloud, x='word',y='count')
fig.show()

In [ ]:
wordcloud